[user]
    name = "Winston T."
    email = "65579453+TWinston-66@users.noreply.github.com"

[init]
    defaultBranch = main

[pull]
    rebase = true

[push]
    autoSetupRemote = true

[core]
    editor = nvim
    excludesfile = ~/.gitignore_global
	sshCommand = ssh -i ~/.ssh/id_ed25519

[color]
    ui = auto

[include]
    path = ~/.gitconfig.local
    
[url "git@github.com:"]
	insteadOf = https://github.com/
