[user]
    name = "Winston T."
    email = "65579453+TWinston-66@users.noreply.github.com"

[init]
    defaultBranch = main

[pull]
    rebase = true

[push]
    autoSetupRemote = true

[core]
    editor = nvim
    excludesfile = ~/.gitignore_global

[color]
    ui = auto

[alias]
    st = status -sb
    co = checkout
    br = branch
    lg = log --oneline --graph --decorate --all

[include]
    path = ~/.gitconfig.local
